#Top_form{
    background-color: aquamarine;
    height:50px;
    width: 317px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    position:absolute;
    
}

#Picture{
    background-color:blue;
    height:50px;
    width: 50px;
   
}
#Serch{
    background-color:blueviolet;
    height:50px;
    width: 50px;
   
}


#Buttons{
    background-color:cadetblue;
    height:60px;
    width: 375px;

} 
#Short-dis{
    background-color:darkblue;
    height:24px;
    width: 375px;
}
#Long-dis{
    background-color:darkblue;
    height:24px;
    width: 375px;
}