<!DOCTYPE html>
<html lang="kr">


<head>
    <link rel="stylesheet" href="../public/stylesheets/reset.css" />
    <link rel="stylesheet" href="../public/stylesheets/button.css" />
    <link rel="stylesheet" href="../public/stylesheets/First_screen.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>With Me</title>
</head>


<body id="body_screen">
    <div class="disable">
        ?? : 안심하세요. 맨 윗 공간을 담당하는 div입니다, 별거 아니에요!
    </div>


    
    <div class="title">
        <div class="t1">
          Go Anywhere
        </div>
        <div class="t2">
            With Me
        </div>
    </div>


    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>


    <div class="bot">
        <div>2021-1 CRA Vacation Project</div>
        <div>18김준현  |  21신경식  |  21정예준</div>
    </div>
</body>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<script  type="text/javascript" src="../public/javascripts/First_screen.js"></script>
</html>