<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/stylesheets/Login.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet'>
</head>
<body>
 <!--    <div id="whole">
            <div id="BackBOX"></div>
            <div id="Textwrap"></div>
        <form id="login-form">
            <div id="log_inputs">
            <input 
            id = "log_input1"
            required
            placeholder="Enter your Hisnet ID"
            type="text">
            <input 
            id = "log_input2"
            required
            placeholder="Enter your Hisnet password"
            type="text">
            </div>

            <button id="Button">Sign in</button>
        </form>
    </div> -->
    <div id="Whole" >


        <div id="top_form">
            <div id="iconpart"><span id="icon"><i class="fas fa-arrow-left"></i></span> <span id="BACK">BACK</span></div>
            <div id="Profile">Profile</div>
        </div>
    
    
        <div id="Text_form">
            <div id="big-letter">Handong</div>
            <div id="small-letter">Hisnet ID / PW</div>
        </div>
    
    <form id="formTAG" autocomplete="off">
        <div id="input_form">
                <input
                id = "input1"
                required
                type="text" 
                placeholder="Enter your Hisnet ID"/>
                <input 
                id ="input2"
                required
                type="text" 
                placeholder="Enter your Hisnet password"/>
        </div>
    
    
        <div id="button_form">
            <button id="Button">press me</button>
        </div>
    </form>
    
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>
    <script src="../public/javascripts/Login.js"></script>
</body>
</html>