<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, 
    maximum-scale=1.0, minimum-scale=1.0" />
    <title>Main</title>
    <link href="../public/stylesheets/Main.css" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div id="Whole">
<input type="checkbox" id="Side_input">
<input type="checkbox" id="bell_input">
    <div id="Top_Part">
    <div id="Top_form">
        <!-- 설정아이콘 -->
        <div id="Cog_div">
            <div id="Cog_Area">
            <label for="Side_input" class="Side_label">
            <i class="fas fa-cog"></i>
        </label>
            </div>
        </div>
       <!--  알림 아이콘 -->
        <div id="bell">
            <label for="bell_input" class="bell_click_input">
                <i class="fas fa-bell">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        3
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </i>
            </label>
        </div>
        <!--   검색 아이콘 -->
        <div id="Serch">
            <i class="fas fa-search"></i>
        </div>
        <!-- 설정 창 사이드 바 -->
        <div id="log_sidebar">
            <ul>
                <li>프로필 편집</li>
                <li><i class="fas fa-sign-out-alt"></i>로그아웃</li>
            </ul>
            <label for="Side_input"></label>
        </div>
        <!-- 알림 창 사이드 바 -->
        <div id="bell_sidebar">
            <ul>
                <li>경식님의 방에 <br>
                    초대되었습니다</li>
                <li>준현님의 방에 <br>
                    초대되었습니다</li>
            </ul>
            <label for="bell_input"></label>
        </div>
    </div>
    <div id="Buttons">
        <div id="B_MYLIST">My list</div>
        <div id="B_CHAT">Chat</div>
    </div>
</div>
<div id="Bottom_Part">
    <div id="Short-dis">
        <span>Short - distance</span>
    </div>
    <!--Short List part -->
    <ul id="short-List-part">
        <!-- <li id="number" class="list">
            <div class="L_Text">
                <div class="L_Top_Text"><span>그랜드할인마트</span><i class="fas fa-arrow-right"></i><span >한동대학교</span></div>
                <div class="L_bottom_Text"><span class="Time">08:50~09:10</span><span>MON,FRI</span></div>
            </div>
            <div class="bu_arrow_wrap">
            <div class="ON_OFF">
                <input class="tgl tgl-ios" id="cb1" type="checkbox"/>
                <label class="tgl-btn" for="cb1"></label>
            </div>
            <div class="Arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
             </div>
        </li> -->
    </ul>
    <div id="Long-dis">
        <span>Long - distance</span>
    </div>
    <ul id="long-List-part">

    </ul>
</div>
<div id="Plus">
    <!-- <a href="../MakeList/MakeList.html" data-transition="slide" class="btn-floating btn-large waves-effect waves-light red "><i class="material-icons"><i class="fas fa-plus"></i></i></a> -->
    <!-- // this is real
    <a href="MakeList.html"><div id="Circle_test"><i class="fas fa-plus"></i></div></a> -->
    <div id="bt" class="fixed-action-btn click-to-toggle">
        <a class="btn-floating btn-large blue">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li class="Small_bt"><a href="L_input.html" class="btn-floating  blue darken-3">long<!-- <i class="material-icons">insert_chart</i> --></a></li>
          <li class="Small_bt"><a href="S_input.html" class="btn-floating blue darken-3">short<!-- <i class="material-icons">format_quote</i> --></a></li>
         <!--  <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
        </ul>
      </div>
</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
    <script src='../public/javascripts/Main.js'></script>
    
</body>
</html>