<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/stylesheets/reset.css" />
    <link rel="stylesheet" href="../public/stylesheets/button.css" />
    <link rel="stylesheet" href="../public/stylesheets/Main_chatlist.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>With Me</title>
</head>


<body>
    <div class="background"></div>

     <div class="screen">
        <div id="CHAT${Chat_ID}" class="user_item_layout"> 
            <img class="circle profile" alt="프로필 이미지" src="https://mblogthumb-phinf.pstatic.net/20150427_261/ninevincent_1430122791768m7oO1_JPEG/kakao_1.jpg?type=w2"/>
            <div class="info"> 
                <div class="align"> 
                    <div class="namediv"> 
                            <span class="fatblack nametext" style="font-size: 22px;">정예준</span>
                    </div>
                    <div> 
                        <div class="smalltext loctext">한동대->커피유야<br>12:30</div>
                    </div>
                </div>
                <div class="messagebox"> 
                    <span class="lastmsg">안녕하세요 한동대에서 커피유야로 가려하는데 함께하실분을 모십니다!</span>
                </div>
            </div>
                <button class="findbutton">❯</button>
        </div>

     </div> <!--리스트의 항목이 담기는 div -->


     


<script src="https://kit.fontawesome.com/09cb309e6f.js" crossorigin="anonymous"></script>   
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script  type="text/javascript" src="../public/javascripts/Main_chatlist.js"></script>
<script  type="text/javascript" src="../public/javascripts/background.js"></script>
</body>
</html>