<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Page-Enter" content="RevealTrans(Duration=4,Transition=8)">
    <title>MakeList</title>
   
</head>
<body>
    <form id="StartLocation_form" autocomplete="off">
        <input id="start"type="text" placeholder="Write a Start point" required />
        <input id="end" type="text" placeholder="Write a end point" required />
        <button>확인</button>
    </form>
    <a href="Main.html">Go to Main</a>
    <script src="../public/javascripts/MakeList.js"></script>
    
</body>
</html>