<!DOCTYPE html>
<html lang="kr">

<head>   
    <link rel="stylesheet" href="../public/stylesheets/reset.css" />
    <link rel="stylesheet" href="../public/stylesheets/button.css" />
    <link rel="stylesheet" href="../public/stylesheets/User_info.css" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>With Me</title>

</head>


<body>
<div class="screen">

<div class="fixtop">
    <div class="top">
        <div class="back_button" onclick="goBack()">
            <div style="align-items:center; justify-content: center;  width:28px; height:28px; border-radius: 50%; background-color: rgb(213, 233, 255);">
            <svg width="26" height="26" viewBox="-3 -1 18 12" xmlns="http://www.w3.org/2000/svg">
                <path style="fill:var(--main-blue)" fill-rule="evenodd" clip-rule="evenodd" d="M12.6001 7.49999C13.3732 7.49999 14 6.82843 14 5.99998C14 5.17153 13.3732 4.49998 12.6001 4.49998L4.7797 4.49998L6.58969 2.56062C7.13637 1.97487 7.13637 1.02506 6.58969 0.439313C6.04287 -0.146439 5.15656 -0.146439 4.60975 0.439313L0.409907 4.93933C0.147417 5.22058 1.51299e-06 5.60218 1.47821e-06 5.99998C1.44344e-06 6.39778 0.147417 6.77938 0.409907 7.06063L4.60974 11.5607C5.15656 12.1464 6.04287 12.1464 6.58969 11.5607C7.13637 10.9749 7.13637 10.0251 6.58969 9.43933L4.7797 7.49998L12.6001 7.49999Z" fill="rgba(255,255,255,1)"/>
            </svg>
            <script>
            function goBack() {
                window.history.back();
            }
            </script>
            </div>
            <span class="back_text">Back</span>
        </div>
    </div>
</div>

    <span class="bolded username">이름</span>


    <div class="profile_image">
        <img height="90%" class="circle profile_image_src" src="../public/images/nodata.png"/>
    </div>


    <div class="user_message">
        <span class="bolded">Message</span>
        <p class="message_text"></p>
    </div>


    <div class="path_image">
        <img class="circle path start"src="../public/images/nodata.png"/>
        <img class="arrow" src="https://image.flaticon.com/icons/png/512/271/271228.png"/>
        <img class="circle path destination"src="../public/images/nodata.png"/>
    </div>
    
    
    <div class="bottom_buttons">
        <button class="back_button btn_text">참가 요청</button>
        <button class="back_button btn_text">전화번호 복사</button>
    </div>

</div>

<script src="../public/javascripts/User_info.js"></script>
</body>
</html>