<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" ="width=device-width,initial-scale=1.0">
    <title>Chat</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/button.css">
    <link rel="stylesheet" href="/stylesheets/Chat.css">
</head>
<body>
<div id="wrapper">
    <div id="contentWrap">


        <nav>
            <span id="nav-header">
                WITH ME
            </span>
            <span id="logoutBtn">로그아웃</span>
        </nav>

        <div id="contentCover">
            <div id="roomWrap">
                <div id="roomList">
                    <div id="roomHeader">채팅 방 목록</div>
                    <div id="roomSelect">
                        <div class="roomEl active" data-id="1">Everyone</div>
                        <div class="roomEl" data-id="2">Handong -> Yuya</div>
                        <div class="roomEl" data-id="3">Yuya -> Seoul</div>
                        <div class="roomEl" data-id="4">A -> B</div>
                    </div>
                </div>
            </div>

            <div id="chatWrap">
                <div id="chatHeader">
                    <div class="itemm"></div>
                    <div class="itemm">Everyone</div>
                    <div class="itemm" id="sidemenubtn" onclick="openNav()">&#9776;</div>
                </div>
                <div id="chatLog">
                    
                </div>
                <form id="chatForm">
                    <input type="text" autocomplete="off" size="30" id="message" placeholder="메시지를 입력하세요">
                    <input type="submit" value="보내기">
                </form>
            </div>

            <div id="memberWrap">
                <div id="memberList">
                    <div id="memberHeader">사람</div>
                    <div id="memberSelect">
                        
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div id="mySidenav" class="sidenav">
    <div href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</div>
    <div class="side_item" href="#">About</div>
    <div class="side_item" href="#">Services</div>
    <div class="side_item" href="#">Clients</div>
    <div class="side_item" href="#">Contact</div>
  </div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

</body>
</html>