<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,
        initial-scale=1">
        <title>Join</title>
    </head>
    <body>
        <h1>Join WITH ME</h1>
        <form action="/login/join" method="post">
            name      : <input type="text" name="name"><br>
            student ID: <input type="text" name="stID"><br>
            email     : <input type="text" name="email"><br>
            password  : <input type="text" name="password"><br>
        </form>

        <button class="ajaxsend">TEST USER</button>
        <div class="result"></div>

    <script>
        document.querySelector('.ajaxsend').addEventListener('click', function() {
            var inputdata = {
                name: document.forms[0].elements[0].value,
                stID: document.forms[0].elements[1].value,
                email: document.forms[0].elements[2].value,
                password: document.forms[0].elements[3].value
            };
            sendAjax('http://localhost:3000/join/test', inputdata);
        })

        function sendAjax(url, data){
            data = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.setRequestHeader('Content-Type', "application/json");
            xhr.send(data); 
            xhr.addEventListener('load', function(){
                var result = JSON.parse(xhr.responseText);
                var resultDiv = document.querySelector(".result");
                if(result.result !== "ok") resultDiv.innerHTML = "ID uavailable"
                else resultDiv.innerHTML = result.name;
            });
        }
    </script>

    </body>

</html>