<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, 
    maximum-scale=1.0, minimum-scale=1.0" />
    <title>Main</title>
    <link href="/stylesheets/Main.css" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div id="Top_Part">
    <div id="Top_form">
        <div id="Picture"></div>
        <div id="Serch">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div id="Buttons">
        <div id="B_MYLIST">My list</div>
        <div id="B_CHAT">Chat</div>
    </div>
</div>
<div id="Bottom_Part">
    <div id="Short-dis">
        <span>Short - distance</span>
    </div>
<!--Short List part -->
    <ul id="List-part">
        <!-- <li id="number" class="list">
            <div class="L_Text">
                <div class="L_Top_Text"><span>그랜드할인마트</span><i class="fas fa-arrow-right"></i><span >한동대학교</span></div>
                <div class="L_bottom_Text"><span class="Time">08:50~09:10</span><span>MON,FRI</span></div>
            </div>
            <div class="bu_arrow_wrap">
            <div class="ON_OFF">
                <input class="tgl tgl-ios" id="cb1" type="checkbox"/>
                <label class="tgl-btn" for="cb1"></label>
            </div>
            <div class="Arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
             </div>
        </li> -->
    </ul>
    <div id="Long-dis">
        <span>Long - distance</span>
    </div>
</div>
<div id="Plus">
    <!-- <a href="../MakeList/MakeList.html" data-transition="slide" class="btn-floating btn-large waves-effect waves-light red "><i class="material-icons"><i class="fas fa-plus"></i></i></a> -->
    <!-- // this is real
    <a href="MakeList.html"><div id="Circle_test"><i class="fas fa-plus"></i></div></a> -->
    <div id="bt" class="fixed-action-btn click-to-toggle">
        <a class="btn-floating btn-large blue">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li><a href="MakeList.html" class="btn-floating  blue darken-3">long<!-- <i class="material-icons">insert_chart</i> --></a></li>
          <li><a href="S_input.html" class="btn-floating blue darken-3">short<!-- <i class="material-icons">format_quote</i> --></a></li>
         <!--  <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
        </ul>
      </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src='/javascripts/Main.js'></script>
    
</body>
</html>
