body {
  display: flex;
  justify-content: center;
}

.screen {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.fixtop {
  position: fixed;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1000px) {
  .screen {
    width: 60%;
  }
  .fixtop {
    width: 60%;
  }
}

.back_button {
  cursor: pointer;
  display: flex;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  border: 3px solid var(--main-blue);
  border-bottom: 5px solid var(--main-blue);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.1);
}

.back_text {
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  color: var(--main-blue);
}

.btn_text {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  color: white;
}

.circle {
  border-radius: 40%;
}

.fatblack {
  font-size: 30px;
  font-weight: 700;
  color: black;
}
