/* /////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
//////////////////              S_input            //////////////////////
/////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////// */
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
}
.screeeen {
  width: 90%;
}
@media (min-width: 1000px) {
  .screeeen {
    width: 60%;
  }
}

.menu {
  width: 250px;
}

#week,
#Trans,
#tabindex {
  border-radius: 10px;
  margin: 10px;
  width: 60%;
}

.modal {
  position: fixed;
  z-index: 99;
}

/* //// short distance ///// */

.distance {
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: bold;
  width: 100vw;
  padding-top: 4vh;
  padding-bottom: 1vh;
  color: black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 40px 40px rgba(255, 255, 255, 0.6);
}

/* //// Back ///// */
.back_form {
  height: 30px;
  /* background-color:blue; */

  margin: 10px 0;
}
#BACK {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #377dff;
}
#icon {
  font-size: 20px;
  color: #377dff;
}

/*  ////// location /////// */
.location_form {
  height: 96px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  /* background-color:wheat; */
  padding-bottom: 10px;
}
.Start_wrap,
.End_wrap {
  background-color: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.Start_text,
.End_text {
  font-size: 20px;
  font-weight: 700;
  padding-right: 20px;
  line-height: 42px;
}

#T1,
#T2 {
  font-size: 16px;
  font-weight: bold;
}

.ui.button:hover {
  background-color: var(--main-blue-40) !important;
}
.ui.button {
  background: white !important;
}

#Search-Cate-end,
#Search-Cate-start {
  cursor: pointer;
  display: flex;
  width: 200px;
  height: 35px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  border: 2px solid var(--main-blue);
  border-bottom: 4px solid var(--main-blue);
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.Time_form {
  height: 95px;
  /* background-color:yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#time {
  width: 170px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}
.Time_text {
  font-size: 20px;
  margin-top: 13px;
}

.Repeat_form {
  height: 65px;
  display: flex;
  justify-content: center;
}
.timepicker-digital-display {
  background-color: deepskyblue !important;
}

.timepicker-close {
  color: blue !important;
}

.timepicker-tick.active,
.timepicker-tick:hover {
  background-color: deepskyblue !important;
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
  fill: deepskyblue !important;
}

.timepicker-canvas line {
  stroke: skyblue !important;
}

/* /////Date///////// */

.Date_form {
  height: 95px;
  /*  background-color:skyblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Date_text {
  font-size: 22px;
  margin-top: 10px;
}
#date {
  width: 170px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.datepicker-date-display {
  background-color: skyblue !important;
}

.datepicker-table td.is-selected {
  background-color: deepskyblue !important;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: blue !important;
}

/*  ///// UNable //// */
.UNable {
  pointer-events: none;
  opacity: 0.4;
}

/* //////Limit num//////// */

.LimitNum_form {
  height: 98px;
  /*  background-color:teal; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
}
.nice-number button {
  background-color: #377dff !important;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-top: 2px;
  color: white;
  border-color: slategrey !important;
}
#mid {
  width: 30px !important;
  height: 30px;
  margin: 0 10px;
}
.LimitNum_text {
  font-size: 20px;
  padding: 5px;
}

/* .container input{
    outline: none;
} */

.Trans_form {
  height: 110px;
  /* background-color:violet; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#Trans_text {
  padding: 5px;
  font-size: 20px;
}
.Comments_form {
  /* background-color:salmon; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Comments_text {
  padding: 5px;
  font-size: 20px;
}
#Comments_input {
  border: none;
  width: 90%;
  height: 60px;
  outline: none;
  border-bottom: 2px solid var(--main-blue-40);
  resize: none;
}

#summitBT_div {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

#summitBT {
  cursor: pointer;
  display: flex;
  width: 200px;
  height: 50px;
  font-size: 25px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  border: 2px solid var(--main-blue);
  border-bottom: 5px solid var(--main-blue);
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

#Blank_mes {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: deeppink;
}

.location_form,
.Time_form,
.Date_form,
.LimitNum_form,
.Trans_form,
.Comments_form {
  z-index: 0;
  border: 1px var(--main-blue-80) solid;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10px;
  height: auto;
  margin: 20px;
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
