#Whole {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#top_form {
  display: flex;
  margin-top: 3vh;
  display: none;
}
#Profile {
  flex-grow: 2;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

#BACK {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #377dff;
}

#iconpart {
  flex-grow: 1;
}
#icon {
  font-size: 20px;
  color: #377dff;
}

#Text_form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 9vh;
}

#big-letter,
#small-letter {
  width: auto;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: "Kaushan Script", "Nanum Gothic", sans-serif;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-animation: tracking-in-expand 0.6s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

#small-letter {
  margin-top: 8vh;
  font-size: 60px;
}

#big-letter {
  margin-top: 10px;
  font-size: 70px;
}

#input_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 12vh;
}

#input1,
#input2 {
  width: 200px;
  font-size: 18px;
  padding: 5px 8px;
  margin: 12px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid var(--main-blue);
  border-radius: 0px;
  outline: none;
}

#button_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6vh;
}

#Button,
#Button_join {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  width: 230px;
  height: 45px;
  margin: 5px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  border: 2px solid var(--main-blue);
  border-bottom: 5px solid var(--main-blue);
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

body {
  -webkit-animation: fade-in-fwd 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .title_text {
    font-size: 100px;
  }
  .withme {
    font-size: 150px;
  }
  .message {
    margin-top: 10vh;
  }
  .subimt_button {
    margin-top: 12vh;
  }
}
