html , body{
    height:100%;
    width:100%;
}
body{
    margin:0;
}

#top_form{
   /*  background-color: antiquewhite;  */
    width:319px;   /* 319px */
    height:30px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left:-159.5px; 
    top: 9%;
   
    
}
#picture_form{
    background-color:aqua;
    width:190px;
    height:190px;
    margin: 0 auto;
    position: absolute; 
    left: 50%;
    margin-left:-95px; 
    top: 17%; 
    border-radius: 100%;

}

#input_form{
/*     background-color:blue; */
    width:319px;          /* 319px; */
    height:126px;
    top: 57.5%;
    position: absolute; 
    left: 50%;
    top: 57.5%;
    margin-left:-159.5px;
}

#button_form{
  /*   background-color:blueviolet; */
    width:319px;
    height:54px;
    position: absolute; 
    left: 50%;
    top: 82%;
    margin-left:-159.5px;
}


.hidden{
    display: none;
}

#input1{
 
    width:288px;          /* 288px; */
    height:28px;
    font-size: 18px;
    padding: 7px;
    padding-left:20px;
    background-color: #fff;
    border: 1px solid AAB0B7;
    border-radius: 10px;
   
}

#input2{
    width:288px;
    height:28px;
    font-size: 18px;
    padding: 7px;
    padding-left:20px;
    background-color: #fff;
    border: 1px solid AAB0B7;
    border-radius: 10px;
    margin-top: 34px;
}
#icon{
   font-size: 20px;
   padding: 6px;
   color:#377DFF;
}
#iconpart{
    display:inline-block;
 
}
#Profile{
    font-size:20px ;
    font-style: normal;
    font-weight: 700;
    line-height: 19.36px;
    padding: 4px;
    display:inline-block;
    margin-left:30px;
  
  /*   letter-spacing:1.7px; */


}
#BACK{
    font-size:16px ;
    font-style: normal;
    font-weight: 700;
    line-height: 19.36px;
    color:#377DFF;
}
#Button{
    height: 54px;
    width: 319px;
    border-radius: 10px;
    background-color: #377DFF;
    border-color:white;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.09em;
    text-align: center;
    color:white;

}

#Whole{
    width:90%;
    height:100%;
    margin: 0 auto;
    background-color:cornflowerblue;

}
/* #BACK #icon{
    display:inline-block;
} */
/* input[type="tel"] {
    border: 1px solid #ddd;
    padding: 4px 8px;
  }
  input[type="tel"]:focus {
    border: 1px solid #000;
  } */


