body,html{
    width: 100%;
    height:100%;
}
body{
    margin: 0;
}



/* //// short distance ///// */


.Short-distance{
    height: 26px;
    background-color:#E5EEF9;
    color:#9098E4;
    text-align:center;
}


/* //// Back ///// */
.back_form{
    height: 30px;
    /* background-color:blue; */
    
    margin: 10px 0 ;
}
#BACK{
    font-size:16px ;
    font-style: normal;
    font-weight: 700;
    color:#377DFF;
}
#icon{
    font-size: 20px;
    color:#377DFF;
 }


/*  ////// location /////// */
.location_form{
    height: 96px;
    border-bottom: 1px  #D8DADD solid;
    /* background-color:wheat; */
    padding-bottom: 10px;
}
.Start_wrap{
    display:flex;
    margin: 0 auto;
}
.End_wrap{
    display: flex;
    margin:0 auto;
}
.location_form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.Start_text, .End_text{
    font-size: 20px;
    font-weight: 700;
    padding-right: 20px;
}

#T1, #T2{
    border: 1px solid black;
    width: 180px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid AAB0B7;
    border-radius: 10px;
}


/* /////// Time /////// */


.Time_form{
    height: 95px;
    /* background-color:yellow; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px  #D8DADD solid;
}

#time{
    width: 170px;
    font-size:22px;
    text-align: center;
    margin-bottom: 20px;
    
}
.Time_text{
    font-size:20px;
    margin-top: 13px;
}

.Repeat_form{
    height: 65px ;
  
}
.timepicker-digital-display{
    background-color: deepskyblue !important
  }
  
  .timepicker-close {
    color: blue !important
  }
  
  .timepicker-tick.active, .timepicker-tick:hover {
    background-color:deepskyblue !important
  }
  
  .timepicker-canvas-bg,
  .timepicker-canvas-bearing {
    fill: deepskyblue !important
  }
  
  .timepicker-canvas line {
    stroke: skyblue !important
  }
  



/* /////Date///////// */

.Date_form{
    height: 95px;
   /*  background-color:skyblue; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px  #D8DADD solid;
}
.Date_text{
    font-size: 22px;
    margin-top: 10px;
}
#date{
    width:170px;
    text-align: center;
    font-size:20px;
    margin-bottom: 20px;
}
.datepicker-date-display{
    background-color: skyblue !important
  }
  
  .datepicker-table td.is-selected{   
    background-color: deepskyblue !important
  }
  
  .datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done{
    color:blue !important
  }
  
  




/* //////Limit num//////// */

.LimitNum_form{
    height: 98px;
   /*  background-color:teal; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px  #D8DADD solid;
}
.container{
    display:flex;
    justify-content: center;
}
.nice-number button{
    background-color:#377DFF !important;
    border-radius: 100%;
    width:30px;
    height: 30px;
    font-size: 20px;
    margin-top: 2px;
    color:white;
    border-color:slategrey !important;

} 
#mid{
    width:30px !important;
    height:30px;
    margin: 0 10px;
}
.LimitNum_text{
    font-size:20px;
}

/* .container input{
    outline: none;
} */

.Trans_form{
    height: 110px;
    /* background-color:violet; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px  #D8DADD solid;
}

#Trans_text{
    font-size:20px;
}
.Comments_form{
    height: 140px;
    /* background-color:salmon; */
    display:flex;
    flex-direction: column;
    align-items: center;
}
.Comments_text{
    font-size: 20px;
}
#Comments_input{
    
    border: 1px black solid;
    height: 100px;
    width:350px;
}

#summitBT_div{
   display:flex;
   width:100%;
   justify-content: center;
}

#summitBT{
   width:190px;
   height:40px;
   
}