.screen {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top {
  margin-top: 3vh;
  display: flex;
  width: 90%;
  justify-content: start;
}

.back_button {
  background-color: white;
}

.profile_image,
.path_image,
.bottom_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.profile_image {
  height: 30vh;
  width: 30vh;
}

.profile_image_src {
  height: 26vh;
  width: 26vh;
  object-fit: cover;
}

.path_image {
  height: 20vh;
}

.user_message {
  margin-top: 1vh;
  font-family: "Nanum Gothic";
  width: 90%;
  display: flex-start;
  justify-content: flex-start;
}

.message_text {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 1vh;
  height: 12vh;
  border: 3px solid rgba(0, 0, 0, 0.4);
  padding: 1vh;
  border-radius: 8px;
}

.bolded {
  font-size: 28px;
  font-weight: 700;
  color: black;
  margin: 2vh 0vh;
}

.username {
  font-size: 34px;
}

.path {
  height: 70%;
}

.arrow {
  height: 40%;
  margin: 12vw 4vw;
}

.bottom_buttons {
  justify-content: center;
  margin-bottom: 50px;
}

div button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Nanum Gothic";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1.5vh;
  width: 35%;
  background-color: var(--main-blue);
  border-radius: 18px;
}

.btn_text {
  width: auto;
  margin: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: var(--main-blue);
}

.screen {
  -webkit-animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
